@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Comic+Neue:wght@700&display=swap');

:root{
    --primaryColor:rgb(51,83,17);
    --secondColor:rgb(217,217,217);
    --tercerColor:rgb(230,66,105);
    --textColor:rgb(34, 31, 31);
    --fondo:rgb(255,193,0);
}/*variables de colores*/

*{
    margin: 0px;
    padding:0px;
}
body{
    background-color: var(--fondo);
    font-family:'Cabin', sans-serif;
}
header{
    background-color:var(--fondo);
    width: 99.8%;
    height:11%;
    position: fixed;
    z-index: 10;
    float: left;
}
header>div#div1{
    background-color:var(--primaryColor);
    width: 70%;
    height:100%;
    float: left;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
}
header>div#div1>h1{
    color: bisque;
    font-size: 4rem;
    margin-top: 5px;
    text-align: center;
}
.imgProfile{
 
    width: 60px;
    height: 65px;
    border-radius:50%;
}
header>div#div1 >div#div2{
  margin-top: 25px;
}
header>div#div1>div#div3{
    margin-top: 25px;
}

section#seccion1{
    background-color:var(--fondo);
    height:100vh;
    width: 50%;
    float: left;
    margin-top: 75px;
    }  
    section#seccion1>div#div10>nav>ul>li>a{
       text-decoration: none;
       list-style: none;
        color:black;
        text-align: center;
        margin-top: 8px;
    }
    section#seccion1>div#div10>nav>ul>li{
        text-decoration: none;
        list-style: none;
         color:black;
         text-align: center;
         margin-top: 8px;
         font-weight: bold;
     }
    section#seccion1>div#div10>nav>ul>li>a:hover{
        color: blue;
    font-size: 1.2 rem;
    font-weight: bold;
     }
    section#seccion1>div#div9{
    background-color: var(--primaryColor);
    width: 22%;
    height: 37px;
    float: left;
    margin-left: 10%;
    margin-top: 15%;
     }
     section#seccion1>div#div9>h2{
       color: beige;
       font-size: 1rem;
       text-align: center;
       margin-top: 6px;
         }
         section#seccion1>h3{
            color:black;
        font-size: 4rem;
        margin-top: 22%;
        margin-left: 10%;
            }
            section#seccion1>h4{
                color:bisque;
            font-size: 1rem;
            margin-top: 20px;
            margin-left: 10%;
                }
    section#seccion1>div#div10{
    background-color: var(--primaryColor);
    width: 18%;
    height: 37px;
    float: left;
    margin-left: 10%;
    margin-top: 20px;
    text-decoration: none;
    }
    section#seccion1>div#div10>li{
        text-decoration: none;
    }
        section#seccion1>div#div11{
            background-color: var(--primaryColor);
            width: 18%;
            height: 37px;
            float: left;
            margin-left: 10px;
            margin-top: 20px;
            }
        section#seccion1>div#div11>h6{
            color:black;
            text-align: center;
            margin-top: 7px;
            font-size: 0.85rem;
            }
            section#seccion1>h6#h61{
                color:black;
            margin-left: 10%;
            margin-top: 10%;
            font-size: 1rem;
                }
    section#seccion2{
        background-color:var(--fondo);
       height:100vh; 
       width: 50%;
       margin-left: 50%;
    float: left;
       margin-top: -653px;
    }
    section#seccion2>div#div4{
        background-color: var(--primaryColor);
        width: 40%;
        height: 60%;
        margin-left: 18%;
        margin-top: 23%;
    }
    section#seccion2>div#div5{
        background-color:bisque;
        width: 30%;
        height: 50%;
        margin-left: 60px;
        margin-right:38px;
        margin-top: -300px;
        float: left;
    }
    section#seccion2>div#div5 img{
        width: 90%;
        height: 93%;
        margin-left: 10.3px;
        margin-top:11px;
        float: left;
    }
    section#seccion2>div#div6{
        background-color:bisque;
        width: 30%;
        height: 50%;
        margin-right:20%;
        margin-top: -500px;
        float: left;
    }
    section#seccion2>div#div6 img{
        width: 90%;
        height: 93%;
        margin-left: 10px;
        margin-top: 10px;
        float: left;
    }
    section#seccion3{
        background-color:var(--fondo);
        height:55px;
        float: left;
        width: 100%;
    }
    section#seccion3>div#div7 img{
        margin-top: 13px;
        float: left;
        width: 36px;
        height: 36px;
        margin-left: 6px;
    }
    section#seccion3>div#div8 img{
        margin-top: 13px;
        float: left;
        width: 36px;
        height: 36px;
        margin-left: 93.5%;
    }
  



    
   
    